.sec_sp {
    margin-bottom: 48px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.table td,
.table th {
    color: var(--text-color);
    padding: 12px 16px;
}

.t_border {
    border-color: var(--text-color) !important;
}

.progress-title {
    font-size: 18px;
    font-weight: 700;
    margin: 18px 0 22px;
    font-family: 'Raleway';
}

.progress {
    height: 6px;
    background: var(--secondary);
    border-radius: 3px;
    box-shadow: none;
    margin-bottom: 32px;
    overflow: visible;
}

.progress .progress-bar {
    position: relative;
    background: var(--text-color);
    animation: animate-positive 2s;
    overflow: visible;
    opacity: 0.9;
}

.progress .progress-value {
    position: absolute;
    top: -32px;
    right: 10px;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: var(--text-color);
}

.section-title {
    font-size: 48px;
    margin-bottom: 24px;
}

.service__title {
    padding: 10px 0;
    border-bottom: solid 2px var(--secondary-color);
    margin-bottom: 16px;
}

.service-section .service-category-title {
    padding-bottom: 6px;
    margin-bottom: 10px;
}


/*! CSS Used keyframes */

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}