.theme_toggler {
    background: var(--primary-color);
    z-index: 999999999;
    left: 10px;
    display: flex;
    height: 48px;
    align-items: center;
    padding: 0 16px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.06);
    gap: 10px;
}

.theme_toggler svg {
    width: 2em;
    height: 2em;
}